.lastUpdate {
  margin-bottom: 10px;
  display: block;
  font-size: 0.66pc;
}

.container {
  width: 100%;
}

.issue {
  display: inline-block;
  color: black;
  background-color: #FFFF7F;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 11pc;
  height: 9.5pc;
  font-size: 0.75pc;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  cursor: pointer;
}

.issue .panel-body {
  padding: 0;
}

.issue .head {
  font-style: italic;
  display: block;
  padding: 5px 0 0 0;
  margin: 0;
  border: 0;
  font-size: 0.75pc;
}
.issue .title {
  display: block;
  font-weight: bold;
  padding-top: 5px;
}
.issue .assignee {
  display: block;
  color: #007777;
  padding-top: 5px;
}
.issue .state {
  display: inline;
  font-style: italic;
  color: red;
  padding-top: 5px;
}
.issue .age {
  display: block;
  bottom: 5px;
  position: absolute;
}
.design {
  background-color: #7FFFFF;
}
.review {
  background-color: #AAFFAA;
}
.urgent {
  border: 2px solid red;
}

h5 {
  font-weight: bold;
}
